<!doctype html>
<html ng-app="weibo">
<head>
<meta charset="utf-8">
<title>weibo</title>
<link href="style/weibo.css" rel="stylesheet" type="text/css" />
<script src="angular.js"></script>
<script type="text/javascript">
	let mod = angular.module('weibo',[])
	mod.controller('con',function($scope,$http){
		//留言列表
		$scope.list = [];
		//初始显示第一页
		$scope.now = 1;
		//1.添加留言
		$scope.add = function(){
			$http.get(`weibo.php?act=add&content=${$scope.text}`).then(res=>{
				console.log(res.data)
				let json = res.data;
				if(json.error){
					console.log('发送留言失败')
				}else{
					console.log('发送留言成功')
					$scope.list.unshift({id: json.id, content: $scope.text, time: json.time, acc: 0, ref: 0});
					//添加之后清空输入框
					$scope.text='';
					//保证每页显示6条数据
					if($scope.list.length>6){
						$scope.list.pop();
					}
				}
			},()=>{
				console.log('添加留言失败')
			})
		}
		
		//2.显示留言
		getPage(1);
		function getPage(n){
			$scope.now = n;
			$http.get(`weibo.php?act=get&page=${n}`).then(res=>{
				$scope.list = res.data;
			},()=>{
				console.log('获取留言失败，请刷新重试')
			})
		}
		
		//3.获取页数
		$scope.pages = [];
		$http.get(`weibo.php?act=get_page_count`).then(res=>{
			for(let i=0;i<=res.data.count;i++){
				$scope.pages.push(i)
			}
		},()=>{
			console.log('获取页数失败，请刷新重试')
		})
		
		//4.换页
		$scope.tabPage = function(page){
			getPage(page);
		}
		
		//5.点赞、踩、删除
		$scope.acc = function(id){
			$http.get(`weibo.php?act=acc&id=${id}`).then(res=>{
				console.log('点赞成功')
				$scope.list.forEach(e=>{
					if(e.id==id){
						e.acc++;
					}
				})
			},()=>{
				console.log('点赞失败，请刷新重试')
			})
		}
		
		$scope.ref = function(id){
			$http.get(`weibo.php?act=ref&id=${id}`).then(res=>{
				console.log('点踩成功')
				$scope.list.forEach(e=>{
					if(e.id==id){
						e.ref++;
					}
				})
			},()=>{
				console.log('点踩失败，请刷新重试')
			})
		}
		
		$scope.del = function(id){
			$http.get(`weibo.php?act=del&id=${id}`).then(res=>{
				console.log('删除成功')
				$scope.list = $scope.list.filter(e=>e.id!=id)
			},()=>{
				console.log('删除失败，请刷新重试')
			})
		}
	})
</script>
</head>

<body ng-controller="con">
<div class="znsArea">
	<!--留言-->
    <div class="takeComment">
        <textarea name="textarea" class="takeTextField" ng-model="text"></textarea>
        <div class="takeSbmComment">
            <input type="button" class="inputs" value="" ng-click="add()" />
            <span>(可按 Enter 回复)</span>
        </div>
    </div>
	<!--已留-->
    <div class="commentOn">
		<div class="page">
			<a href="javascript:;" ng-repeat="page in pages" class="{{page==now?'active':''}}" ng-click="tabPage(page)">{{page}}</a>
		</div>
        <div class="messList" id="msg_box">
          <div class="reply" ng-repeat="item in list">
            <p class="replyContent">{{item.content}}</p>
            <p class="operation">
              <span class="replyTime">{{item.time*1000|date:"y年MM月dd日 HH:mm:ss"}}</span>
              <span class="handle">
                <a href="javascript:;" class="top" ng-click="acc(item.id)">{{item.acc}}</a>
                <a href="javascript:;" class="down_icon" ng-click="ref(item.id)">{{item.ref}}</a>
                <a href="javascript:;" class="cut" ng-click="del(item.id)">删除</a>
              </span>
            </p>
          </div>
        </div>
    </div>
</div>
</body>
</html>
